*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans';
}

header{
    background: #029F58;
}

li{
    list-style: none;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 120px 10px 117.8px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-branding{
    margin-right: 400px;
}


.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: #00070F;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

.greenbg{
    background: #029F58;
}

.build{
    padding: 136px 0px 0px 0px;
}

.buildDirectHeading{
    font-style: normal;
    font-weight: 700;
    font-size: 130px;
    line-height: 94.6%;
    /* or 123px */
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}

.buildDirectSubHeading{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    text-align: center;
    color: #FFFFFF;
    opacity: 0.9;
    padding: 40px 0px 82px 0px;
}

.googlePlay-btn{
    text-align: center;
}

.playstore{
    margin: 0px 26px 0px 0px;
}

.image-container3{
    display: none;
}


.image-container{
    max-height: 420px;
    overflow: hidden;
    text-align: center;
}

.image-container img{
    width: 90%;
    border: none;
}

.quotebg{
    background-image: url(./assets/noise\ \(1\).svg);
}

.quoteImg{
    display: flex;
    justify-content: space-between;
}

.quoteSmaller{
    z-index: -1;
    position: relative;
    top: -395px;
    left: 50px;
}

.quoteHeading{
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 101.1%;
    /* or 73px */
    letter-spacing: -0.03em;
    color: #007640;
    width: 584px;
    padding: 143px 0px 31px 122px;
}

.quoteSubheading{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #000000;
    opacity: 0.6;
    width: 683px;
    padding: 0px 0px 0px 122px;
}

.curved img{
   width: 100%;
}

.connectCard{
    padding: 94px 80px 97px 129px;
    display: flex;
    justify-content: space-between;
}

.man{
    display: none;
}

.fans-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 116.6%;
    /* identical to box height, or 19px */
    letter-spacing: -0.03em;
    color: #000000;
    background: #FFBB62;
    border-radius: 50px;
    padding: 6px 33px;
}

.connectWith{
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 101.1%;
    /* or 69px */
    letter-spacing: -0.03em;
    color: #121212;
    width: 481px;
    padding: 40px 0px 32px 0px;
}

.fromTech{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #121212;
    opacity: 0.6;
    width: 481px;
}

.green{
    background: #039352;
    padding: 126px 50px 176px 119px;
}

.connectCard1{
    display: flex;
}

.fanbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fans-btn1{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 116.6%;
    /* identical to box height, or 19px */
    letter-spacing: -0.03em;
    color: #000000;
    background: #FFBB62;
    border-radius: 50px;
    padding: 6px 33px;
    border: none;
}


.connectWith3{
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 101.1%;
    /* or 69px */
    letter-spacing: -0.03em;
    color: #ffffff;
    width: 481px;
    padding: 40px 0px 32px 0px;
}

.fromTech3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #ffffff;
    opacity: 0.6;
    width: 481px;
}

.noise{
    background: url(./assets/noise\ \(1\).svg);
}

.whiteBg{
    background: #FFFFFD;
    margin: 0px 0px 53px 60px;
    width: 500px;
}

.newProfile{
    display: flex;
}

.lessThan{
    padding: 14px 10px 0px 18px;
}

.profile{
    padding: 21px 13px 20px 0px;
} 

.profileName{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    color: #000000;
    padding: 36px 146px 36px 13px;
}

.whiteBg1{
    background: #FFFFFD;
    border-radius: 20px 20px 0px 20px;
    padding: 15px;
    width: 380px;
    margin: 0px 0px 30px 180px;
}

.chatPara{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #000000;
    width: 349px;
}

.time{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: #000000;
    padding: 0px 0px 0px 315px;
}

.whiteBg2{
    background: #FFFFFD;
    border-radius: 15px 15px 15px 0px;
    padding: 15px;
    width: 212px;
    margin: 0px 0px 21px 60px;
}

.time1{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    color: #000000;
}

.whiteBg3{
    background: #FFFFFD;
    border-radius: 15px 15px 15px 0px;
    padding: 15px;
    width: 305px;
    margin: 0px 0px 97px 60px;
}

.conversationBar{
    display: flex;
}

.whiteBg4{
    background: #FFFFFD;;
    border-radius: 15px 15px 15px 0px;
    padding: 15px;
    width: 513px;
    margin: 0px 0px 0px 60px;
}

.sorry{
    margin-right: 190px;
    padding: 0px 0px 0px 15px;
    text-align: center;
}

.conversationChat{
    background: #F3F3F3;
    border-radius: 10px;
    padding: 10px 0px 13px 0px;
}

.sendbtn{
    padding: 15px 19px 0px 13px;
}

.earnMoney{
    display: flex;
    justify-content: space-between;
    padding: 171px 130px 0px 144px;
}


.influencer-btn{
    padding: 7px 19px;
    background: #FF8C62;
    border-radius: 50px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 116.6%;
    /* identical to box height, or 19px */
    letter-spacing: -0.03em;
    color: #000000;
}

.earnHeading{
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 101.1%;
    /* or 69px */
    letter-spacing: -0.03em;
    /* Black */
    color: #121212;
    padding: 46px 0px 32px 0px;
    width: 481px;
}

.earnPara{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    /* Black */
    color: #121212;
    opacity: 0.6;
    padding: 32px 0px 90px 0px;
    width: 481px;
}

.blackbg{
    background: #363636;
    width: 50%;
}

.fastreplies{
    display: flex;
}

.black{
    background: #202020;
    width: 50%;
    padding: 151px 60px 0px 120px;
}

.influencer-btn1{
    padding: 7px 19px;
    background: #FF8C62;
    border-radius: 50px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 116.6%;
    /* identical to box height, or 19px */
    letter-spacing: -0.03em;
    color: #000000;
}

.influencerbutton1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 54px;
}

body > section:nth-child(7) > div > div.blackbg > figure > img{
    padding: 0px 0px 0px 90px;
    width: 90%;
}

.filterHeading{
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 101.1%;
    /* or 69px */
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 481px;
}


.filterSubheading{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #FFFFFF;
    opacity: 0.6;
    padding: 32px 0px 135px 0px;
    width: 481px;
}

.theEar1{
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 101.1%;
    /* or 69px */
    letter-spacing: -0.03em;
    color: #007640;
    width: 371px;
    padding: 130px 0px 7px 120px;
}

.assurance{
    display: flex;
}

.chainLink{
    padding: 166px 0px 0px 169px;
    display: flex;
}

.chainLink img{
    margin-right: 32px;
}

.easeText{
    padding: 155px 0px 0px 0px;
}

.easeHeading{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 116.6%;
    /* identical to box height, or 42px */
    letter-spacing: -0.03em;
    /* Black */
    color: #121212;
}

.easeSubheading{
    padding: 16px 0px 80px 0px;
    width: 379px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    /* Black */
    color: #121212;
    opacity: 0.6;
}

.image-container1 img{
    width: 90%;
    height: 1000px;
    position: relative;
    right: 60px;
    z-index: -1;
}

.almost{
    padding: 0px 120px 130px 120px;
}

.greenthingyBg{
    background: #029F58;
    border-radius: 100px;
    position: relative;
    bottom: 253px;
    display: flex;
}

body > section.almost > div > div:nth-child(1) > figure > img{
    position: relative;
    bottom: -5px;
    /* width: 370px; */
    padding: 125px 0px 0px 90px;
    max-height: 570px;
    overflow: hidden;

}

.getText{
    padding: 130px 0px 0px 55px;
    flex-direction: column;
}

.getHeading{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 102.6%;
    /* or 74px */
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 490px;
}

.getSubheading{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    color: #FFFFFF;
    width: 490px;
    padding: 32px 0px 44px 0px;
}

.doflex{
    display: flex;
}

.doflex img{
    width: 260px;
}

.doflex :nth-child(1){
    margin-right: 10px;
}

.bePara{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */
    /* Black */
    color: #121212;
    padding: 63px 0px 24px 250px;
}

.bePara2{
    font-weight: 400;
}

.form{
    display: flex;
}

.email{
    padding: 13px 567px 13px 16px;
    /* border: 1px solid rgba(18, 18, 18, 0.3); */
    /* border-radius: 10px; */
    margin-left: 250px;
}

.submit{
    padding: 14px 42px 15px 42px;
    background: #121212;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footerFlex{
    display: flex;
    padding: 78px 0px 80px 50px;
    justify-content: space-evenly;
}

.social{
    flex-direction: column;
}

.facebook{
    margin-right: 24px;
}

.twitter{
    margin-right: 24px;
}

.socialLinks{
    margin-top: 31.4px;
}

.links{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    /* Black */
    color: #121212;
    padding: 0px 0px 32px 0px;
}

.ulLinks li{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 165.4%;
    /* identical to box height, or 30px */  
    letter-spacing: 0.02em;
    /* Black */
    color: #121212;
    margin-bottom: 24px;
}

@media(max-width:375px){

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.navbar{
    padding: 25px 24px 132.05px 22px;
    width: 100%;
    justify-content: unset;
    justify-content: space-between;
}

.nav-branding{
    margin-right: 0px;
}

.hamburger{
    display: block;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background-color: #121212;
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color: #121212;
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 29.5%;
    text-align: center;
    transition: 0.3s;
    padding: 90px 0px 0px 0px;
}

.nav-item{
    margin: 16px 0;
}

.nav-menu.active{
    left: 0;
    width: 100%;
}

.nav-link{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    text-align: center;
    color: #121212;
}

.greenbg{
    background: #029F58;
    position: relative;
    top: -10px;
}

.buildDirectHeading{
    font-weight: 700;
    font-size: 54px;
    line-height: 100.1%;
    /* or 54px */
    letter-spacing: -0.05em;
}

.buildDirectSubHeading{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    opacity: 0.9;
}

.playstore{
    margin: 0px 0px 39.77px 0px;
}

.playstore{
    margin: 0px 0px 39.77px 0px;
}

.image-container img{
    width: 100%;
    border: none;
    opacity: 0;
}

.image-container{
    background-image: url(./assets/Black_Matte_2__1_-removebg-preview.png);
    background-size: 80%;
    max-height: 250px;
    overflow: hidden;
}

.quotebg{
    flex-wrap: wrap;
    width: 100%;
}


.quoteImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quoteSmaller{
   display: none;
}

.quoteHeading{
    font-size: 34px;
    width: 311px;
    padding: 56px 34px 24px 32px;
}

.quoteSubheading{
    font-size: 16px;
    width: 311px;
    padding: 0px 0px 0px 32px;
}

.curved img{
    width: 40%;
    /* float: right; */
    position: relative;
    top: -200px;
    right: -150px;
    transform: rotate(11.99deg);
    z-index: -1;
}


.connectCard{
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
}

.man{
    display: contents;
}

.man img{
    margin-left: auto;
    margin-right: auto;
}

.fans-btn{
    display: none;
}

.connectWith{
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 101.6%;
    /* or 35px */
    letter-spacing: -0.03em;
    color: #000000;
    padding: 64px 0px 24px 32px;
    width: 311px;
}

.fromTech{
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #121212;
    opacity: 0.6;
    width: 311px;
    padding: 0px 0px 56px 32px;
}

.manSmile{
    display: none;
}

.connectCard1{
    flex-wrap: wrap;
}

.green{
    padding: 130px 32px 152px 32px;
}

.fans-btn1{
    font-size: 14px;
    border-radius: 50px;
    padding: 5px 27px;
}

.connectWith3{
    font-style: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    color: #FFFFFF;
    padding: 40px 0px 24px 0px;
    width: 311px;
}

.fromTech3{
    font-size: 16px;
    width: 311px;
}

.noise{
    display: none;
}

.davidoPhone{
    display: none;
}

.earnMoney{
    flex-wrap: wrap;
    padding: 72px 0px 0px 0px;
    justify-content: unset;
}

.influencer-btn{
    padding: 6px 16px;
    font-size: 14px;
    margin-left: 20px;   
}

.earnHeading{
    font-size: 34px;
    padding: 51px 0px 24px 32px;
    width: 311px;
}

.earnPara{
    font-size: 16px;
    line-height: 150%;
    padding: 0px 0px 31px 32px;
    width: 311px;
}

.fastreplies{
    flex-wrap: wrap;
}

.blackbg{
    display: none;
}

.black{
    background: #202020;
    width: 100%;
    padding: 131px 32px 0px 32px;
}

.influencerbutton1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.influencer-btn1{
    padding: 6px 16px;
    font-size: 14px;
}

.filterHeading{
    font-size: 34px;
    width: 311px;
}


.filterSubheading{
    font-size: 16px;
    padding: 26px 0px 138px 0px;
    width: 311px;
}

.theEar1{
    font-size: 34px;
    width: 311px;
    padding: 56px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
}

.assurance{
    flex-wrap: wrap;
}

.chainLink{
    padding: 79px 0px 0px 20px;
    display: flex;
}

.easeText{
    padding: 76px 0px 0px 0px;
}

.easeHeading{
    font-size: 24px;
}

.easeSubheading{
    padding: 16px 0px 60px 0px;
    width: 269px;
}

.image-container1{
    background-image: url(./assets/Black_Matte_2-removebg-preview.png);
    background-size: 70%;
    max-height: 450px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}

.image-container1 img{
    opacity: 0;
}

.almost{
    padding: 200px 20px 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.holdingPhone{
    display: none;
}

.greenthingyBg{
    background: #029F58;
    border-radius: 50px;
    position: relative;
    bottom: 253px;
    display: flex;
    flex-direction: column;
}

.getText{
    padding: 64px 0px 0px 0px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}


.getHeading{
    font-size: 48px;
    width: 287px;
}

.getSubheading{
    font-size: 16px;
    width: 287px;
    padding: 24px 0px 48px 0px;
}

.doflex{
    flex-direction: column;
}

.doflex img{
    width: 242px;
}

.doflex :nth-child(1){
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.doflex :nth-child(2){
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
}

.rule{
    margin: -190px 0px 0px 0px;
}

.bePara{
    font-size: 24px;
    padding: 56px 0px 28px 20px;
    margin-left: auto;
    margin-right: auto;
}

.email{
    padding: 16px 27px 16px 8px;
    margin-left: 20px;
    font-size: 16px;
}

.submit{
    padding: 21px 18px 21px 18px;
    background: #121212;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 16px */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footerFlex{
    flex-wrap: wrap;
    flex-direction: column;
    padding: 62px 0px 0px 20px;
    justify-content: unset;
    width: 100%;
}

.links{
    font-size: 20px;
    padding: 52px 0px 80px 0px;
    font-weight: bold;
}

.ulLinks li{
    font-size: 20px;
}



}